body {
  background-color: white;
  margin: 0px auto;
}
.navbar{
  padding: 15px 20px;
  background-color: white;
}

.hero_section {
  /* height: 450px; */
  background-color: #f5f7fa;

}
.image img {
  float: right;
  width: 550px;
  /* margin-right: 10px; */
  padding-top: 50px;

}
.heading {
  text-align: justify;
  padding: 20x;
  margin-top: 70px;
}
.heading h2{
  color:#4CAF4F;
  font-size: 40px;
}

.heading p{
  font-size: 15px;
  margin-left: 5px;
}
.btn{
  background-color: #4CAF4F;
}
.text {
  padding: 40px;
  text-align: center;
}
.text h3 {
  /* padding:170px ;
    text-align: center; */
}
.text p {
  text-align: center;
}
.iconarea {
  
}
.logo img {
  margin-left: 30px;
  padding: 30px 50px;
  text-align: center;
}
.managearea {
  text-align: center;
  padding: 70px 40px;
  /* margin-top: 50px; */
}
.managearea h2 {
  /* text-align: center;
    padding: 320px 40px;
    margin-top: 50px; */
}
.managearea p {
  text-align: center;
}
.boxarea {
  height: 400px;
  float: left;
}
.organisation {

  margin: 10px 50px;
  text-align: center;
  padding: 20px 50px;
}
.association img {
  
}
.framearea {
  text-align: center;
  /* padding: 200px; */
}
.frame {
  float: right;
  /* text-align: center; */
  padding-left: 80px;
}
.paragraph {
  float: right;
  text-align: justify;
  padding: 35px 80px;
}
.paragraph h1,
p {
  text-align: justify;
  margin: 20px 30px;
}
.frame img {
width: 400px;
}
.btn{
  padding: 10px;
}
.score {
  /* height: 350px; */
  text-align: justify;
  padding: 30px 50px;
  /* margin-top: 30px; */
  background-color: rgb(234, 229, 229);
}
.score h2{
color: #4CAF4F;
}
.score p{
  font-size: 15px;
}

.icon img {
  float: right;
}
.lockarea {
  text-align: justify;
  padding: 30px;
  
}
.lockarea img {
width: 400px;
  float: left;
  margin-left: 20px;
}
.lockarea h1 {
}
.lock_para{
  padding: 30px;
}
.customers {
  
  text-align: justify;
  padding: 100px;
}
.customers img {
  width: 280px;
  
}
.customers h4 {
  color: green;
}
